@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #282c34;
    color: #e0e0e0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 15px solid #a31545;
}